body{
    background-color: #beaba7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.x-hover:hover::after{
    content: "X";
    opacity: 0.5;
}

.o-hover:hover::after{
    content: "O";
    opacity: 0.5;
}

h1{
    color: #75464a;
}

.brett{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    position: relative;
}

.rute{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #75464a;
}

.venstre-linje, .bunn-linje, .høyre-linje{
    border: 5px solid #aa7c7a;
}

.linje{
    position: absolute;
    background-color: #75464a;
}

.horisontal-linje-1{
    top: 4.4rem;
    width: 100%;
    height: 5px;
}

.horisontal-linje-2{
    top: 13.8rem;
    width: 100%;
    height: 5px;
}

.horisontal-linje-3{
    top: 23.2rem;
    width: 100%;
    height: 5px;
}

.vertikal-linje{
    position: absolute;
    background-color: #75464a;
    height: 100%;
    width: 5px;
    top: 0;
}

.vertikal-linje-1{
   left: 4.5rem;
}

.vertikal-linje-2{
    left: 13.9rem;
}

.vertikal-linje-3{
    left: 23.3rem;
}

.diagonal-linje-1{
    width: 98%;
    height: 5px;
    top: 49%;
    left: 1%;
    transform: skewY(45deg);
}

.diagonal-linje-2{
    width: 98%;
    height: 5px;
    top: 49%;
    left: 1%;
    transform: skewY(-45deg);
}

.spill-slutt{
    text-align: center;
}

h2{
    color: #75464a;
    font-size: 1.5rem;
}

button{
    color: #75464a;
    font-size: 1.3rem;
    background-color: transparent;
    border: #75464a 3px dotted;
    padding: 10px 20px;
}

.skjult-tekst{
    display: none;
}

.synlig-tekst{
    display: block;
}